#cart-img{
    padding: 10px;
}
 #section1{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
} 
#section2{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
img{
    width: 7rem;
    height: 14rem;
}
#title{
    font-size: 1.5rem;
}
#price{
    font-size: 1.3rem;
    color: darkgreen; 
}
#img-div{
    height:99%;
    padding:1rem;
}