.card{
    width: 80%;
    position: absolute;
    left: 15%;
}

.row1-photo{
    
    max-width: 250px;
    max-height: 250px;
}


a{
    text-decoration: none;
}

.ads:hover img{
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1.05);
    transition: all 1s ease-out;
}

.col-md-3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.badge{
    height: 20px;
    text-align: right;
}
